{% extends 'base.html' %}
{% block body %}
<head>
	<link rel="stylesheet" href="/static/styles/account.css">
</head>
<body>
	<div class="heading">
		<h1>My Account</h1>
	</div>
	<div id="accountpage">
		<div id="accountinfodiv">
			<div id="username">
				<h3>Username</h3>
				<p>{{userInfo.username}}</p>
				<button class="editbutton" type="submit" onclick="openUsernameForm()" id="editbutton"> edit</button>
				<form action="/usernamechange" id="usernameform" method="POST">
					<input type="text" name="newname" placeholder="Enter your new username">
					<input type="submit" class="editbutton" value="accept">
					<button class="editbutton" type="submit" onclick="closeUsernameForm()" id="editbutton">cancel</button>
				</form>

			</div>

		</div>
		<div id="accountgamesdiv">
			<div class="heading">
				<h3>Played Games</h3>
			</div>
			<div id="gameslist">
				<div class="game-row titles">
					<p>Game</p>
					<p>Your highscore</p>
				</div>
				{% for games in usergames %}
				<div class="game-row">
					<a href="/loadgame?game={{games.gameID}}" class="gameLink">{{games.title}}</a>
					<p class="end">{{games.max}}</p>
				</div>
					
				{% endfor %}
			</div>
				


		</div>
	</div>
	
</body>

<footer id="footercontainer">
	<div class="footer">
		<div class="row" id="socials">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
		</div>
		
		<div class="row">
			<ul>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Career</a></li>
			</ul>
		</div>
		
		<div class="row">
		CoolMothGames Copyright © 2021 Moth Publishing - All rights reserved || Designed By: Moth Man
		</div>
	</div>
</footer>

<script src="/static/account.js"></script>




{% endblock %}
