{% extends 'base.html' %}
{% block body %}
<head>
	<link rel="stylesheet" href="/static/styles/account.css">
</head>
<body>
	<div id="accountpage">
		<div id="accountinfodiv">
			<div id="accountinfo">
				<h3>My username</h3>
				<p>{{userInfo.username}}</p>
			</div>
			<div id="accountinfo">
				<h3>Email</h3>
				<p>{{userInfo.email}}</p>
			</div>

		</div>
		<div id="accountgamesdiv">
			<div>
				<h2>Played Games</h2>
			</div>
			<div id="gameslist">
				{% for games in usergames %}
				<div id="game-row">
					<a href="/loadgame?game={{games.gameID}}" id="gameLink">{{games.title}}</a>
					<p>{{games.max}}</p>
				</div>
					
				{% endfor %}
			</div>
				


		</div>
	</div>
	
</body>

<footer id="footercontainer">
	<div class="footer">
		<div class="row" id="socials">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
		</div>
		
		<div class="row">
			<ul>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Our Services</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Career</a></li>
			</ul>
		</div>
		
		<div class="row">
		CoolMothGames Copyright © 2021 Moth Publishing - All rights reserved || Designed By: Moth Man
		</div>
	</div>
</footer>






{% endblock %}