<html>

	<head>
		<link rel="stylesheet" href="static/styles/style.css">
<!--        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>-->
		<title>CoolMothGames</title>
	</head>

	<header>
		<div id="nav-bar">
			<h1>CoolMothGames</h1>
			<ul id="nav-list">
				<li class="nav-list-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-list-item"><a class="nav-link" href="#">Isaiah</a></li>
				<li class="nav-list-item"><a class="nav-link" href="#">Jariel</a></li>
				<li class="nav-list-item"><a class="nav-link" href="#">Joel</a></li>
			</ul>
		</div>
	</header>

	{% block body %}
	{% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="static/script.js"></script>

</html>