<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles/style.css">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>CoolMothGames</title>
</head>
<header>
    <div id="nav-bar">
        <h1 class="coolmothgames">CoolMothGames</h1>
        <ul id="nav-list">
            <li class="nav-list-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-list-item"><a class="nav-link" href="/games">Games</a></li>
            <li class="nav-list-item"><a class="nav-link" href="/leaderboards">Leaderboards</a></li>
            <!-- add forum drop down here -->
            <li class="nav-list-item">
                <div class="dropdown">
                    <p class="dropbtn nav-link">Forums</p>
                    <div class="dropdown-content">
                        <a href="/memory-forums" class="nav-link dropt-item">Memory</a><br>
                        <a href="/rps-forums" class="nav-link dropt-item">Rock Paper Scissors</a><br>
                        <a href="/tictactoe-forums" class="nav-link dropt-item">Tic Tac Toe</a><br>
                        <a href="/minesweeper-forums" class="nav-link dropt-item">Minesweeper</a><br>
                        <a href="/connect4-forums" class="nav-link dropt-item">Connect 4</a><br>
                        <a href="/starwar-forums" class="nav-link dropt-item">Star War</a><br>
                        <a href="/flappymoth-forums" class="nav-link dropt-item">Flappy Moth</a><br>
                        <a href="/doodlemoth-forums" class="nav-link dropt-item">Doodlemoth</a><br>
                        <a href="/drawpad-forums" class="nav-link dropt-item">Drawpad</a><br>
                        <a href="/pigame-forums" class="nav-link dropt-item">Pi Game</a><br>
                        <a href="/blackjack-forums" class="nav-link dropt-item">Black Jack</a>
                    </div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="dropdown">
                    <p class="dropbtn nav-link">Ratings</p>
                    <div class="dropdown-content">
                        <a href="/memory-ratings" class="nav-link dropt-item">Memory</a><br>
                        <a href="/rps-ratings" class="nav-link dropt-item">Rock Paper Scissors</a><br>
                        <a href="/tictactoe-ratings" class="nav-link dropt-item">Tic Tac Toe</a><br>
                        <a href="/minesweeper-ratings" class="nav-link dropt-item">Minesweeper</a><br>
                        <a href="/connect4-ratings" class="nav-link dropt-item">Connect 4</a><br>
                        <a href="/starwar-ratings" class="nav-link dropt-item">Star War</a><br>
                        <a href="/flappymoth-ratings" class="nav-link dropt-item">Flappy Moth</a><br>
                        <a href="/doodlemoth-ratings" class="nav-link dropt-item">Doodlemoth</a><br>
                        <a href="/drawpad-ratings" class="nav-link dropt-item">Drawpad</a><br>
                        <a href="/pigame-ratings" class="nav-link dropt-item">Pi Game</a><br>
                        <a href="/blackjack-ratings" class="nav-link dropt-item">Black Jack</a>
                    </div>
                </div>
            </li>
            {% if loggedIn %}
                <li class="nav-list-item"><a class="nav-link" href="/account">My Account</a></li>
                <li class="nav-list-item"><a class="nav-link" href="/logout">Log out</a></li>
            {%else%}
            <li class="nav-list-item"><a class="nav-link" href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</header>

<body>
    <h1 style="text-align: center; margin-top: 10%;">Something Went Wrong!</h1>
    <p style="text-align: center;"><em>Sorry about that</em></p>
    <p style="text-align: center; margin-top: 5px;">Click a link above to go back to the page</p>
</body>

<footer id="footercontainer" style="margin-top: 17%;">
	<div class="footer">
	<div class="row" id="socials">
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-instagram"></i></a>
	<a href="#"><i class="fa fa-youtube"></i></a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	</div>
	
	<div class="row">
	<ul>
	<li><a href="#">Contact us</a></li>
	<li><a href="#">Our Services</a></li>
	<li><a href="#">Privacy Policy</a></li>
	<li><a href="#">Terms & Conditions</a></li>
	<li><a href="#">Career</a></li>
	</ul>
	</div>
	
	<div class="row">
	CoolMothGames Copyright © 2021 Moth Publishing - All rights reserved || Designed By: Moth Man
	</div>
	</div>
	</footer>