{% extends 'base.html' %}
{% block body %}

<head>
    <link rel="stylesheet" href="static/styles/forums.css">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <h4>{{ messages[0] }}</h4>
{% endif %}
{% endwith %}

<div class="container">
    <div class="comments">
        <h3 class="title">{{game.title}}</h3>
        {% for message in messages %}
                    {% if message.replyTo %}
                        {% for reply in replies %}
                            {% if message.replyTo == reply.messageID %}
                        <div class="message-box">
                            <div class="column">
                                <div class="message-box quote" style="margin-left: 5px;"> 
                                    <p class="username">{{reply.username}}</p>
                                    <p class="message">{{reply.message}}</p>
                                </div>
                                <div class="row">
                                    <p class="username">{{message.username}}</p>
                                    <p class="message">{{message.message}}</p>
                                    <div class="reply box-end">
                                        <button class="reply-btn" id="{{message.username}}">Reply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endif %}
                        {%endfor%}
                    {% else %}
                <div class="message-box">
                    <p class="username">{{message.username}}</p>
                    <p class="message">{{message.message}}</p>
                    <div class="reply box-end">
                        <button class="reply-btn" id="{{message.username}}">Reply</button>
                    </div>
                </div>
                    {% endif %}
        {% endfor %}

        <form action="/forums" method="post" class="submit-form" id="submit">
            <p id="reply-to"></p>
            <textarea class="text-area"  placeholder="Share your thoughts!" name="message"></textarea>
            <input type="text" name="gameid" style="display: none" value="{{game.gameID}}">
            <input type="submit" value="Submit">
        </form>

    </div>
</div>

<script src="static/forums.js"></script>

{% endblock %}