{% extends 'base.html' %}
{% block body %}

<head>
    <link rel="stylesheet" href="static/styles/index.css">
</head>

<body>
    
    <div id="home-flex">
        <div class="flex-div" id="featured-div">
            <h2>Featured Games</h2>
            <div class="feat-flex-item">
                
            </div>
        </div>
        <div class="flex-div" id="forums-div">

        </div>
        <div class="flex-div" id="leaderboard-div">


<footer id="footercontainer">
	<div class="footer">
	<div class="row" id="socials">
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-instagram"></i></a>
	<a href="#"><i class="fa fa-youtube"></i></a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	</div>
	
	<div class="row">
	<ul>
	<li><a href="#">Contact us</a></li>
	<li><a href="#">Our Services</a></li>
	<li><a href="#">Privacy Policy</a></li>
	<li><a href="#">Terms & Conditions</a></li>
	<li><a href="#">Career</a></li>
	</ul>
	</div>
	
	<div class="row">
	CoolMothGames Copyright © 2021 Moth Publishing - All rights reserved || Designed By: Moth Man
	</div>
	</div>
	</footer>
        </div>
        
    </div>

</body>


{% endblock %}