{% extends 'base.html' %}
{% block body %}

<head>
    <link rel="stylesheet" href="static/styles/index.css">
</head>

<body>
    
    <div id="home-flex">
        <div class="flex-div" id="featured-div">
            <h2>Featured Games</h2>
            <div class="feat-flex-item">
                
            </div>
        </div>
        <div class="flex-div" id="forums-div">

        </div>
        <div class="flex-div" id="leaderboard-div">

        </div>
        
    </div>

</body>


{% endblock %}