{% extends 'base.html' %}
{% block body %}

<head>
    <link rel="stylesheet" href="static/styles/memory.css">
</head>

<body>

    <h1>Memory Game</h1>
    <select name="difficulty" id="game-difficulty" onchange="changeDifficulty(this, this.value)">
        <option value="" selected disabled>Select a difficulty:</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
    <button id="start-btn" onclick="startGame(this)" disabled>Start Game</button>
    <form id="memory-form" action="/memory" method="post">
        <input type="number" name="score" id="memory-score" readonly>
        <input type="text" name="difficulty" id="difficulty" value="" style="display: none;">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h4>{{ messages[0] }}</h4>
        {% endif %}
    {% endwith %}
    <div id="table-div">
        <table id="mem-table">
            <!-- {% for i in range (6) %}
                <tr class="mem-row">
                    {% for i in range (7) %}
                        <td class="mem-cell"></td>
                    {% endfor %}
                </tr>
            {% endfor %} -->
        </table>
    </div>

</body>

<script src="static/memory.js"></script>


{% endblock %}