{% extends 'base.html' %}
{% block body %}

<head>
    <link rel="stylesheet" href="static/styles/ratings.css">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <h4>{{ messages[0] }}</h4>
{% endif %}
{% endwith %}

<div class="container">
    <div class="comments">
        <h3 class="title">{{game.title}} Reviews</h3>
<!-- ☆★ -->
        {% for rating in ratings %}
                <div class="message-box">
                    <div class="row">
                        <div class="column">
                            <p class="username">{{rating.username}}</p>
                            <!-- <p>{{rating.rating}}</p> -->
                            {% if rating.rating == 1 %}
                                <p class="stars">★☆☆☆☆</p>
                            {% elif rating.rating == 2 %}
                                <p class="stars">★★☆☆☆</p>
                            {% elif rating.rating == 3 %}
                                <p class="stars">★★★☆☆</p>
                            {% elif rating.rating == 4 %}
                                <p class="stars">★★★★☆</p>
                            {% else %}
                                <p class="stars">★★★★★</p>
                            {%endif%}
                        </div>
                        <p>{{rating.review}}</p>
                    </div>
                </div>
        {%endfor%}

        <form action="/ratings" method="post" class="submit-form" id="submit">
            <!-- <input type="number" min="1" max="5" name="stars" placeholder="Rating 1-5"> -->
            <fieldset class="star-rating">
                <input checked name="stars" value="0" type="radio" id="rating0">
                <label for="rating0">
                  <span class="hide-visually">0 Stars</span>
                </label>
              
                <input name="stars" value="1" type="radio" id="rating1">
                <label for="rating1">
                  <span class="hide-visually">1 Star</span>
                  <span aria-hidden="true" class="star">★</span>
                </label>
              
                <input name="stars" value="2" type="radio" id="rating2">
                <label for="rating2">
                  <span class="hide-visually">2 Stars</span>
                  <span aria-hidden="true" class="star">★</span>
                </label>
              
                <input name="stars" value="3" type="radio" id="rating3">
                <label for="rating3">
                  <span class="hide-visually">3 Stars</span>
                  <span aria-hidden="true" class="star">★</span>
                </label>
              
                <input name="stars" value="4" type="radio" id="rating4">
                <label for="rating4">
                  <span class="hide-visually">4 Stars</span>
                  <span aria-hidden="true" class="star">★</span>
                </label>
              
                <input name="stars" value="5" type="radio" id="rating5">
                <label for="rating5">
                  <span class="hide-visually">5 Stars</span>
                  <span aria-hidden="true" class="star">★</span>
                </label>
              </fieldset>

            <textarea class="text-area"  placeholder="Review" name="review"></textarea>
            <input type="text" name="gameid" style="display: none" value="{{game.gameID}}">
            <input type="submit" value="Submit">
        </form>

    </div>
</div>

{% endblock %}