{% extends 'base.html' %}
{% block body %}

<head>
    <link rel="stylesheet" href="static/styles/ratings.css">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <h4>{{ messages[0] }}</h4>
{% endif %}
{% endwith %}

<div class="container">
    <div class="comments">
        <h3 class="title">{{game.title}} Reviews</h3>
<!-- ☆★ -->
        {% for rating in ratings %}
                <div class="message-box">
                    <!-- <div class="row"> -->
                        <!-- <div class="column"> -->
                            <p class="username message-box-item">{{rating.username}}</p>
                            {% if rating.rating == 1 %}
                                <p class="stars-rating message-box-item">★☆☆☆☆</p>
                            {% elif rating.rating == 2 %}
                                <p class="stars-rating message-box-item">★★☆☆☆</p>
                            {% elif rating.rating == 3 %}
                                <p class="stars-rating message-box-item">★★★☆☆</p>
                            {% elif rating.rating == 4 %}
                                <p class="stars-rating message-box-item">★★★★☆</p>
                            {% else %}
                                <p class="stars-rating message-box-item">★★★★★</p>
                            {%endif%}
                        <!-- </div> -->
                        <p class="message-box-item">{{rating.review}}</p>
                    <!-- </div> -->
                </div>
        {%endfor%}

        <form action="/ratings" method="post" class="submit-form" id="submit">

              <div class="stars" id="stars">
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
              </div>
              <input type="hidden" name="rating" id="rating" value="0">

              
              

            <textarea class="text-area"  placeholder="Review" name="review"></textarea>
            <input type="text" name="gameid" style="display: none" value="{{game.gameID}}">
            <input type="submit" value="Submit">
        </form>

    </div>
</div>

<script src="/static/rating.js" ></script>

{% endblock %}