{% extends 'base.html' %}
{% block body %}
<head>
    <link rel="stylesheet" href="static/styles/rps.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h4>{{ messages[0] }}</h4>
        {% endif %}
    {% endwith %}
    <div class="game-con">
        <header>
            <h1 class="header">Rock Paper Scissors</h1>
            <div class="score-flex">
                <h3 class="score">Score:<span id="p-score">0</span></h3>
                <h3 class="h-score">High-Score:<span>{{highScore}}</span></h3>
            </div>
        </header>
        <div class="wrapper">
            <button class="emoji-big" id="rock">✊</button>
            <button class="emoji-big" id="paper">✋</button>
            <button class="emoji-big" id="scissors">✌️</button>
        </div>

        <div class="win-or-lose"></div>
        
        <div class="box-wrapper">
            <div class="box-tool">
                <p>Player</p>
                <div class="box1"></div>
            </div>

                <div class="vs-box">
                    <div class="vs">Vs</div>
                </div>

            <div class="box-tool">
                <p>Moth-man</p>
                <div class="box2"></div>
            </div>
        </div>
    </header>
    <script src="static/rps.js"></script>
</body>






{% endblock %}