{% extends 'base.html' %}
{% block body %}


<head>
    
    
    
    <link rel="stylesheet" href="static/styles/tic-tac-toe.css">
    <!-- <title>TIC- TAC- TOES</title> -->
</head>

<div id="body">
    <header>
        <h1 style="text-align: center;">Tic-Tac-Toe</h1>
        <div id="score">
            <div class="flex" id="highScore">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <h4>{{ messages[0] }}</h4>
                    {%else%}
                        {%if loggedIn %}
                            <h3>{{userInfo.username}}'s Total Wins: </h3><span id="playerWins">{{wins.score}}</span>
                        {%endif%}
                    {% endif %}
                {% endwith %}
                
            </div>
            
        </div>

    </header>

    <div class="board">
        <div class="rows row-1">
            <div class="box col-1 empty" id="box-1"></div>
            <div class="box col-2 empty" id="box-2"></div>
            <div class="box col-3 empty" id="box-3"></div>
        </div>
        <div class="rows row-2">
            <div class="box col-1 empty" id="box-4"></div>
            <div class="box col-2 empty" id="box-5"></div>
            <div class="box col-3 empty" id="box-6"></div>
        </div>
        <div class="rows row-3">
            <div class="box col-1 empty" id="box-7"></div>
            <div class="box col-2 empty" id="box-8"></div>
            <div class="box col-3 empty" id="box-9"></div>
        </div>
    </div>

    

</div>

<script src="static/tic-tac-toe.js"></script>





{% endblock %}