* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#deck {
    width: 125px;
    height: 175px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px black;
    align-self: flex-start;
}



.card {
    width: 125px;
    height: 175px;
    border-radius: 10px;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heart {
    background-image: url("/static/imgs/cardsuits/hearts.jpg");
}

.club {
    background-image: url("/static/imgs/cardsuits/clubs.jpg");
}

.diamond {
    background-image: url("/static/imgs/cardsuits/diamonds.jpg");
}

.spade {
    background-image: url("/static/imgs/cardsuits/spades.jpg");
}

#top-right {
    display: block;
    padding: 7% 0% 0% 80%;
}

#bottom-left {
    display: block;
    margin: 98% 0 0 10% ;
}

.facedown {
    background-image: url("/static/imgs/cardsuits/cardback.png");
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.hand {
    display: flex;
    flex-direction: row;
}

#hit-btn {
    display: none;
}

#stand-btn {
    display: none;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/static/imgs/misc/blackjack.jpg");
    /* height: 100%; */
}

#dealer-side {
    width: 100%;
}

#new-hand {
    align-self: flex-start;
    display: none;
}

.winner-box {
    margin-bottom: 10px;
}

#dealer-hand {
    margin-bottom: 20px;
}

.options {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20px;
}

.btn {
    border: none;
    background: none;
    color: red;
    font-size: 20;
}

.btn:hover {
    font-size: 22;
}

#new-hand {
    height: 20px;
}