.games-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-div{
    margin: 1vh auto;
    height: fit-content;
    text-align: center;
    padding: 15px;
    background-color: brown;
    border: 2px solid black;
    width: 30%;

}
#gameLink{
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.404);
    padding: 1vh;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    margin: 2vh auto;
    margin-bottom: 2vh;;
    background-color: black;
    color: white;
    text-decoration: none;
}

#gameLink:hover{
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.804);
    border-color: yellow;
    background-color: black;
    color: yellow;
}

#gameImage{
    height: 40vh;
    width: 100%;
}

#filterdiv{
    display: flex;
    justify-content: space-between;
}

#tags{
    display: flex;
    justify-content: space-around;

}
.tag{
    cursor: pointer;
    color: black;
    background-color: transparent;
    border: none;
}
.tag:hover{
    color: white;
}