.leaderboard-table {
    border: 1px solid;
    margin: 10px auto;
    background-color: seagreen;
    width: 50%;
    border-collapse : collapse;
}

.rows{
    padding: 15px;
}

.table-row {
    border: 1px solid;
    margin-left: 5px;
    text-align: center;
}

.leaderboard {
    margin: 5px auto;
}

.game_select {
    margin: 5px auto;
    text-align: center;
}

.game-title {
    margin: 5px auto;
    text-align: center;
}

