/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#account-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly
    
}
#orDiv{
    border: none;
    margin: 0;
}

.account-div {
    text-align: center;
    transition: width 1s;
    padding: 2%;
    border: 3px solid black;
    border-radius: 25px;

}
.account-input{
    justify-content: center;
}


#login-div {
    text-align: center;
}



.account-input {
    text-align: center;
    display: block;
    margin: 10px auto;
}