.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title {
    margin-bottom: 10px;
}

.comments {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 10px auto;
    padding: 15px;
}

.text-area {
    resize: none;
    height: 30px;
}

.submit-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.message-box {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    border: 1px solid green;
    padding: 30px;
    background-color: whitesmoke;
}

.username {
    border-right: 1px solid green;
    /* padding: 15px 0 15px 0; */
    align-self: center;
}

.message-box-item{
    width: 33%;
    padding: 15px 0 15px 0;
}

.message {
    padding: 15px;
    text-align: left;
}

.box-end {
    margin-left: auto;
}


.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.stars-rating {
    color: gold;
    font-size: xx-large;
}

.stars {
  display: inline-block;
  font-size: 30px;
  color: #bbb;
  user-select: none;
}

.stars:hover {
  cursor: pointer;
}

.star-filled {
  color: #f0dd0a;
}

.star-clicked {
  color: #f0dd0a;
}
