* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-bar {
    margin: auto;
    text-align: center;
    padding: 15px;
    background-image: url("/static/imgs/TopbarBackground.jpg");
    background-repeat: repeat;
    color: white;
    text-shadow: 2px 2px black;
    font-size: large;
    font-weight: 600;
    font-family: 'Play', sans-serif;
}

.nav-list-item {
    display: inline-block;
    margin: 15px 15px 3px 0px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: transparent;
    text-shadow: 2px 2px white;
}

#footercontainer{
    position: relative;
    /* margin-top: 5vh; */
    bottom: 0;
    width: 100%;
    background-image: url("/static/imgs/Footerbackground.jpg");
    background-size: 200px;
}

.footer{
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}

    
.row{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.449);
    margin:2% auto;
    padding:0% 1%;
    color:white;
    
    }
    
.footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    }

#socials{
    padding: 8px 0;
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    }
    
.footer .row a:hover{
    color:goldenrod;
    }
    
.footer .row ul{
    width:100%;
    }
    
.footer .row ul li{
    display:inline-block;
    margin:0px 20px;
    }
    
.footer .row a i{
    font-size:2em;
    margin:0 auto;
    }



.dropitem {
    margin: 10px 0;
}

.dropdown-content {
    padding: 10px;
    display: none;
    position: absolute;
    width: fit-content;
    background-color: darkgrey;
    /* min-width: 160px; */
    /* max-width: 200px; */
}

.dropdown:hover .dropdown-content {
    display: block;
}
    
    
    

